# Copyright (c) {% now 'utc', '%Y' %} {{cookiecutter.project_org}}
# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This Kconfig file is picked by the Zephyr build system because it is defined
# as the module Kconfig entry point (see zephyr/module.yml). You can browse
# module options by going to Zephyr -> Modules in Kconfig.

{% if not cookiecutter.create_own_driver %}#{% endif %}rsource "drivers/Kconfig"
{% if not cookiecutter.create_own_library %}#{% endif %}rsource "lib/Kconfig"
